.swal2-html-container{
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
}

.swal2-input{
    width: 80% !important;
    margin: .3em 0 1em !important;
}

.chatMessage{
    display: flex;
    flex-direction: row;
}

.email{
    font-weight: bold;
    color: rgb(37, 37, 134);
}

.time{
    color: rgb(151, 40, 40);
    order: 2;
    margin-left: auto;
}

.message{
    color: #008800;
    font-style: italic;
}